<div class="row m-1">
  <div class="col-md-8">
    <div class="box">
      <div class="box-header">
        <h2>Registration Form Vitaha and Lesia !!!!</h2>
      </div>
      <div class="box-divider"></div>
      <div class="box-body">
        <div class="row">
          <div class="col-sm-6 form-group">
            <label>First name</label>
            <input type="text" class="form-control">
          </div>
          <div class="col-sm-6 form-group">
            <label>Last name</label>
            <input type="text" class="form-control">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
