<form [formGroup]="address">
  <input  class = "form" type="text" formControlName="street">
  <input class = "form" type="text" formControlName="city">
  <input class = "form" type="text" formControlName="state">
  <input class = "form" type="text" formControlName="country">
  <input class = "form" type="text" formControlName="zip">

</form>

